 .header{
 border:5px solid blue; 
text-align:center;
background-color:black;
color:white;
}
.nav{
border:5px solid black;
background-color:white;
color:white;
}

ul{
list-style-type:none;

}                                                       
li{
display:inline;
}
a{
text-decoration:none;
background-color:;
border:5px solid balck;
}
#active{
background-color:black;
color:green;
border:5px solid black;
}
a:hover{
background-color:white;
color:red;
border:5px solid white;
}
.footer{
border: 5px solid white;
background-color:red;
text-align:center;
}
img{
width:488px;
height:488px;
border:5px solid black;
}
body{
	background-image: url(ro.jpeg);
}

